<h2>Quests</h2>
<% @quests.each do |quest| %>
  <hr>
  <h4>Description:</h4>
  <%= quest.description %>
  <%= button_to "Take", assignment_quest_path(quest) if signed_in? %>

  <h4>Places:</h4>
  <% quest.places.each do |place| %>
    <%= link_to place.name, place %><br>
  <% end %>
  <br>
<% end %>
<hr>
